<div class="container d-flex align-center justify-content-center">
  <div class="card ">
    <div class="card-header"> <%= seance.movie_title %></div>
    <div class="card-body">
      <p class="card-text"><span class="font-weight-bold">Length: </span><%= seance.movie_length %></p>
      <p class="card-text"><span class="font-weight-bold">Date: </span><%= seance.start_time.strftime('%m.%d.%Y') %></p>
      <p class="card-text"><span class="font-weight-bold">Time: </span><%= seance.start_time.strftime('%k:%M') %></p>
      <p class="card-text"><span class="font-weight-bold">Hall: </span><%= seance.hall.name %></p>
      <div class="d-flex">
        <%= link_to 'Edit', edit_seance_path(seance), class: "btn btn-warning me-1 "%> |
        <%= button_to 'Remove', seance, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger ms-1"%>
      </div>
    </div>
  </div>
</div>
