<h1 class="mb-5 text-center" >Seance reservations</h1>
<ul class="px-0 d-flex flex-wrap justify-space-between">
  <% reservations.each do |reservation| %>
    <li class="d-block col-12 col-lg-6 col-xl-3 mb-2 px-2" test-id="reservation_<%= reservation.id %>">
      <div class="card">
        <div class="card-header"><span class="font-weight-bold">Reservation:</span> <%= reservation.id %></div>
        <div class="card-body">
          <p class="card-text"><span class="font-weight-bold">E-mail: </span><%= reservation.user.email %></p>
          <p class="card-text"><span class="font-weight-bold">Movie: </span><%= reservation.seance.movie.title %></p>
          <p class="card-text"><span class="font-weight-bold">Date: </span><%= format_date(reservation.seance.start_time) %></p>
          <p class="card-text"><span class="font-weight-bold">Time: </span><%= format_time(reservation.seance.start_time) %></p>
          <p class="card-text">
            <span class="font-weight-bold">Seats: </span>
            <% reservation.tickets.each do |ticket| %>
              <%= ticket.seat %>, 
            <% end %>
          </p>
          <p class="card-text">
            <span class="font-weight-bold">Status: </span>
            <span class=<%= text_color(reservation.status)%>><%= reservation.status %></span>
          </p>
          <ul class="p-0 d-flex mb-3">
            <%= generate_confirm_link(reservation) if current_user.manager? && reservation.status == Reservation::CREATED %>
            <%= generate_cancel_link(reservation) if reservation.status == Reservation::CREATED %>
          </ul>
        </div>
      </div>
    </li>
  <% end %>
</ul>
